---
import BaseLayout from "@/layouts/BaseLayout.astro";

---

<BaseLayout title="License">
    <main class="text-white container px-40 py-12 mx-auto">
        <section>
            <p>The next parts: <ul>
                <li>· Header</li>
                <li>· Footer</li>
                <li>· Home page</li>
            </ul> was modified of the base given on the template of <a href="https://michaelandreuzza.com/">Michael Andreuzza</a>, under <a href="https://opensource.org/licenses/GPL-3.0">GPL-3.0 license</a>.
            </p><br /><br />
            <p>
                Page "Detect Product With IA" have a detection model made in <a href="https://teachablemachine.withgoogle.com/">Teachable Machine</a> part of Google.<br />
                The trained model runs on tensorflow.js, under <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache-2.0 license</a> .
            </p><br /><br />
            <p></p>
        </section>
    </main>
</BaseLayout>